@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: auto;
    background-image: linear-gradient(to right, rgb(6, 11, 39) 20%, rgb(217, 13, 122)100%);
    color: white;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 40px;
}

header h2 {
    font-size: 1.2em;
    font-weight: 400;
}

header div, header ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(6, 11, 39);
}

header .barte:hover {
    color: rgb(217, 13, 122);
}

main {
    background-image: url(../assets/images/Fondo-Barté.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main div:first-of-type {
    margin: 4% auto auto 8%;
    padding: 1%;
    width: auto;
    height: auto;
    border-radius: 8px;
    background-color: rgba(6, 11, 39, 0.9);
}

main div:last-of-type {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    width: auto;
    height: auto;
    margin: 1% 8% 8% 8%;
    padding: 6% 16%;
    border-radius: 12px;
    background-color: rgba(6, 11, 39, 0.9);
}
main div a {
    text-decoration: none;
    width: auto;
    height: auto;
    margin: 4%;
}
button {
    background-image: linear-gradient(to right, rgb(51, 51, 153) 0%, rgb(217, 13, 122) 50%);
    color: white;
    border: none;
    border-radius: 8px;
    width: 12em;
    height: 4em;
    padding: 2% 4% 2% 4%;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

button:hover {
    background-image: linear-gradient(to right, rgb(217, 13, 122) 50%, rgb(51, 51, 153) 100%);
    cursor: pointer;
}

footer {
    padding: 0 40px 20px 40px;
}

#pieDePagina {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 40px;
}

#pieDePagina h4 {
    margin-bottom: 20px;
}