@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    background-image: linear-gradient(to right, rgb(6, 11, 39) 40%, rgb(217, 13, 122) 100%);
    color: white;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 40px;
}

header h2 {
    font-size: 1.2em;
    font-weight: 400;
}

header div, header ul {
    display: flex;
    align-items: center;
    gap: 60px;
}

header li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: white;
}

header a:hover {
    color: rgb(6, 11, 39);
}

header .barte:hover {
    color: rgb(217, 13, 122);
}

main {
    background-color: rgb(6, 11, 39);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#seccionPrincipal {
    align-items: center;
    width: 90%;
    height: 600px;
    margin: 100px;
    border-radius: 16px;
    background-image: url(../assets/images/Fondo-Barté.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

#seccionPrincipal span {
    margin: 40px;
    font-size: 80px;
    font-weight: 400;
    background-image: linear-gradient(to top, rgb(6, 11, 39) 20%, rgb(217, 13, 122) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#seccionInformativa {
    display: flex;
    justify-content:space-around;
    width: 92%;
    height: 200px;
    margin-bottom: 100px;
}

#seccionInformativa div {
    background-color: rgb(6, 11, 39);
    box-shadow: 0 0 10px rgb(51, 51, 153);
    width: 20%;
    height: auto;
    border-radius: 16px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    transition-delay: 0.25s, 0s, 0s;
    transition-duration: 0.5s, 0.75s, 0.75s;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: linear;
}

#seccionInformativa div:hover {
    border: 2px solid rgb(51, 51, 153);
    background-color: rgba(51, 51, 153, 0.5);
    box-shadow: none;
    transition-delay: 0s, 0.25s, 0.25s;
    transition-duration: 0.5s, 0.25s, 0.25s;
    transition-property: background-color, border-color, box-shadow;
    transition-timing-function: linear;
}

#seccionFinal {
    background-image: linear-gradient(to right, rgba(6, 11, 39, 0.2) 40%, rgba(217, 13, 122, 0.2) 100%);
    background-color: rgba(135, 133, 147, 0.2);
    width: 80%;
    height: 400px;
    border-radius: 16px;
    border: 2px solid rgba(135, 133, 147, 0.5);
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 18%;
    padding-right: 18%;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.75s, 0.75s, 0.75s;
    transition-property: border-color, border-width, box-shadow;
    transition-timing-function: linear;
}

#seccionFinal:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 0px solid transparent;
    transition-delay: 0s, 0s, 0s;
    transition-duration: 0.5s, 0.5s, 0.5s;
    transition-property: border-color, border-width, box-shadow;
    transition-timing-function: linear;
}

#seccionFinal h2 {
    font-size: 2em;
    font-weight: 300;
    text-align: center;
}

#seccionFinal p {
    font-size: 1em;
    font-weight: 200;
    text-align: center;
}

#seccionFinal a button {
    background-image: linear-gradient(to right, rgb(51, 51, 153) 0%, rgb(217, 13, 122) 50%);
    color: white;
    border: none;
    border-radius: 8px;
    width: auto;
    height: auto;
    padding: 12% 24% 12% 24%;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

#seccionFinal a button:hover {
    border: none;
    background-image: linear-gradient(to right, rgb(217, 13, 122) 50%, rgb(51, 51, 153) 100%);
    cursor: pointer;
}

footer {
    padding: 0 40px 20px 40px;
}

#pieDePagina {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 40px;
}

#pieDePagina h4 {
    margin-bottom: 20px;
}